.c19t-app {
  display: flex;
  justify-content: space-evenly;
}

.c19t-app__dropdown {
  background-color: white;
}

.c19t-app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.c19t-app__header > h1 {
  color: #ad3939;
}

.c19t-app__stats {
  display: flex;
  justify-content: space-between;
}

.c19t-app__left {
  flex: 0.9;
}

@media (max-width: 990px) {
  .c19t-app {
    flex-direction: column;
  }
}

.c19t-country__select, .c19t-country__option {
  font-size: inherit !important;
}