.c19t-infoBox {
  flex: 1;
  cursor: pointer;
}

.c19t-infoBox:not(:last-child) {
  margin-right: 10px;
}

.c19t-infoBox--greenish {
  background-color: #a7f5b3 !important;
}

.c19t-infoBox--redish {
  background-color: #ff878791 !important;
}

.c19t-infoBox--darkredish {
  background-color: #ff8787b3 !important;
}

.c19t-cases {
  color: #ef4d4d !important;
}
.c19t-recovered {
  color: green !important;
}
.c19t-deaths {
  color: red !important;
}

.c19t-infoBox__cases {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.c19t-infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  margin-top: 15px !important;
}
